In [1]:
import requests as req
import json
import pandas as pd
import datetime

# API Call

In [20]:
# Using CryptoCompare
base_url = 'https://min-api.cryptocompare.com/data/histoday?'

# Number of points to graph
num_points = 200

# Number of days to average together (so here it averages over three days)
aggregate = 3

# Crypto code
cc = 'LTC'
url = '%sfsym=%s&tsym=USD&limit=%s&aggregate=%s&e=CCCAGG'%(base_url,cc,str(num_points),str(aggregate))
resp = req.get(url)
data = resp.json()

# DataFrame Generation

In [21]:
data_df = pd.DataFrame(columns=['Date','High','Low','Open','Close'])
for i in range(len(data['Data'])):
    date = datetime.datetime.fromtimestamp(int(data['Data'][i]['time'])).strftime('%Y-%m-%d')
    data_df.set_value(index=i,col='Date',value=date)
    data_df.set_value(index=i,col='High',value=data['Data'][i]['high'])
    data_df.set_value(index=i,col='Low',value=data['Data'][i]['low'])
    data_df.set_value(index=i,col='Open',value=data['Data'][i]['open'])
    data_df.set_value(index=i,col='Close',value=data['Data'][i]['close'])
data_df.head()

         Date  High   Low  Open Close
0  2016-07-15  4.23  4.08  4.13  4.13
1  2016-07-18  4.16  4.08  4.13  4.12
2  2016-07-21  4.12  3.95  4.12  4.05
3  2016-07-24  4.06  3.88  4.05  3.96
4  2016-07-27  4.12  3.93  3.96  4.07

In [22]:
data_df['Date'][len(data_df['Date'])-1]

'2018-03-07'

In [25]:
data_df.to_csv('historical_data/%s_data_%s.csv'%(cc,data_df['Date'][len(data_df['Date'])-1]))